{% extends 'base.html' %}
{% load static%}
{% block title %} Aplicacion en Django y GMaps {% endblock %}
    
{% block container %}
    <div id="mapa" class="capas">
    </div>
    <div id="datos" class="capas">
		<div id="form"></div>
            <form action="/coords/save" method="POST" id="form_coords" >
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Guardar ubicacion">
            </form>
		<div id="data"></div>
	</div>
{% endblock %}   
